html {
  font-size: 14px;
}

.container {
  max-width: unset;
  padding: 20px;
  display: grid;
  justify-items: center;
}

#logo {
  position: absolute;
  display: flex;
  align-items: center;

  padding: 20px;
  background-color: #1c1c1c9c;
  border: 1px solid #666666;
}

#banner {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 200px;
  padding-left: 200px;
}

.darker {
  background-color: #000000!important;
}

.electric {
  color: #fff;
  background-color: #0cbddd;
  border-color: #0cbddd;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 124px;
}
/**MODAL**/
/* The Modal (background) */
.modal_custom, .signup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.modal_custom {
  background-color: #000000;
}
.signup {
  background-color: #000000c4;
}

/* Modal Content */
.slide {
  position: absolute;
  width: 100vw;
  object-fit: contain;
  height: 100vh;

}

/* The Close Button */
.cancel {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 999;
}

#slidenum {
  z-index: 9001;
  position: absolute;
  top: 10px;
  left: 25px;
  background-color: black;
}

.cancel:hover,
.cancel:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.b-slide.active, .slide.active {
    display: block;
}
/* Hide the slides by default */
.slide, .b-slide {
  display: none;
  width: 100%;
}

.numbertext {
    background: black;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 999;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

img.size50 {
  width: 50%;
}

.google-connect.dark {
  content: url('./google/web/2x/btn_google_signin_dark_normal_web@2x.png');
}
.google-connect.dark:hover {
  content: url('./google/web/2x/btn_google_signin_dark_focus_web@2x.png');
}
.google-connect.dark:focus {
  content: url('./google/web/2x/btn_google_signin_dark_pressed_web@2x.png');
}
a.disabled .google-connect.dark {
  content: url('./google/web/2x/btn_google_signin_dark_disabled2_web@2x.png');
}

.google-connect.light {
  content: url('./google/web/2x/btn_google_signin_light_normal_web@2x.png');
}
.google-connect.light:hover  {
  content: url('./google/web/2x/btn_google_signin_light_focus_web@2x.png');
}
.google-connect.light:focus  {
  content: url('./google/web/2x/btn_google_signin_light_pressed_web@2x.png');
}
a.disabled .google-connect.light  {
  content: url('./google/web/2x/btn_google_signin_light_disabled2_web@2x.png');
}

.disabled  {
  pointer-events: none;
}
.center {
  text-align: center;
}
    
.boldline {
  font-weight: bold;
}

.boldline > * {
  font-weight: normal;
}

.main-text {
  max-width: 800px;
}

@media all and (max-width: 600px)
{   
    body > .container {
      background: #1E2126bf !important;
      border-radius: 4px;
      width: 350px;
    }

    #banner {
      position: absolute;
      z-index: -1;
      height: 100vh;
      width: 100vw;
      padding: 0;
      top: 0;
    }

    .main-text {
      font-weight: bold;
    }

    #navbar img {
      max-width: 100%;
      height: initial !important;
    }
}

.checkbox_group {
  justify-self: center;
  display: grid;
  grid-template-columns: min-content 1fr;
  max-width: 620px;
}

.checkbox_container {
  position: relative;
  width: 18px;
  height: 18px;
  padding: 11px;
  box-sizing: content-box;
}

.checkbox_container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
            
.checkbox_container input:checked ~ .checkbox_lookalike {
  background-color: hsla(188, 82%, 50%, 1);
  color: hsla(188, 82%, 50%, 1);
}
                    
.checkbox_container input:checked ~ .checkbox_lookalike .mdc-checkbox__checkmark-path {
  stroke-dashoffset: 0;
}
            
.checkbox_container .checkbox_lookalike {
  pointer-events: none;
  position: absolute;
  width: 45%;
  height: 45%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid currentColor;
  border-radius: 2px;
}
                
.checkbox_container .mdc-checkbox__checkmark {
  position: absolute;
  color: white;
}
                    
.checkbox_container .mdc-checkbox__checkmark-path {
  stroke-dasharray: 29.78334;
  stroke-dashoffset: 29.78334;
  stroke-width: 3.12px;
  stroke: currentColor;
  transition: stroke-dashoffset .18s cubic-bezier(.4,0,.6,1) 0ms;
}

.submitContainer {
  display: grid;
  justify-content: center;
}

#submit {
  background-image: url('./google/web/2x/btn_google_signin_dark_normal_web@2x.png');
  width: 200px;
  height: 49px;
  background-repeat: no-repeat;
  background-size: contain;
}

#submit.disabled {
  background-image: url('./google/web/2x/btn_google_signin_dark_disabled2_web@2x.png');
}

#form {
  display: grid;
}