html {
  font-size: 14px;
}

.container {
  max-width: 960px;
}

#logo {
  position: absolute;
  /* display: none; */
  display: flex;
  align-items: center;

  padding: 20px;
  background-color: #1c1c1c9c;
  border: 1px solid #666666;
}

#banner {
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**STICKY HEADER**/
/* Style the header
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
} */

.darker {
  background-color: #000000!important;
}

.electric {
  color: #fff;
  background-color: #0cbddd;
  border-color: #0cbddd;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 124px;
}
/**MODAL**/
/* The Modal (background) */
.modal_custom, .signup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.modal_custom {
  background-color: #000000;
}
.signup {
  background-color: #000000c4;
}

/* Modal Content */
.slide {
  position: absolute;
  width: 100vw;
  object-fit: contain;
  height: 100vh;

}

/* The Close Button */
.cancel {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 999;
}

#slidenum {
  z-index: 9001;
  position: absolute;
  top: 10px;
  left: 25px;
  background-color: black;
}

.cancel:hover,
.cancel:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.b-slide.active, .slide.active {
    display: block;
}
/* Hide the slides by default */
.slide, .b-slide {
  display: none;
}

.numbertext {
    background: black;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 999;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}